  name: Tests BeerLog
  on:
    push:
      branches:
        - "*"
    pull_request:
      branches:
        - "*"
    workflow_dispatch:

  jobs:
    test:
      strategy:
        fail-fast: true
        matrix:
          python-version: ['3.8', '3.10']
          os: [ubuntu-latest]
      runs-on: ${{matrix.os}}

      steps:
        - uses: actions/setup-python@v2
        - uses: actions/checkout@v2
          with:
            python-version: ${{matrix.python-version}}
        - name: Install Poetry
          run: pip install --upgrade pip && pip install poetry

        - name: Install Project
          run: poetry install

        - name: Look For Style Errors
          run: poetry run flake8 beerlog

        - name: Look for auto format erros
          run: poetry run black -l 79 --check --diff beerlog tests

        - name: Run tests
          run: poetry run python pytest -v --junitxml=test-result.xml

        - name: Publish Junit results
          uses: EnricoMi/publish-unit-test-result-action@v1
          if: always()
          with:
            files: test-result.xml
            check-name: Test Result (Python ${{matrix.python-version}})
